.formBackground {
	display: flex;
	flex-direction: column;
	background: linear-gradient(
		90deg,
		hsla(236, 100%, 8%, 1) 0%,
		hsla(211, 100%, 28%, 1) 100%
	);
	color: #f5faf8;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	margin: 6rem auto;
	max-width: 40vw;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0px 2px 8px rgb(255, 255, 255);
	animation: aparecer 5s ease-in-out;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 3rem;
}

.title {
	font-size: 1.5rem;
	margin-bottom: 0;
	/* margin-top: 0px; */
	text-align: center;
}

.formLabels {
	font-size: 1rem;
	color: #f5faf8;
}

.formInputs {
	width: 80%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.errors {
	color: #f00;

	font-size: 0.9rem;
	font-weight: bold;
}

.formButton {
	background: linear-gradient(
		90deg,
		hsla(236, 100%, 8%, 1) 0%,
		hsla(211, 100%, 28%, 1) 100%
	);
	color: #fff;
	font-size: 1rem;
	padding: 12px 22px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
	margin-top: 1rem;
	display: inline-block;
}

.formButton:hover {
	background: linear-gradient(
		90deg,
		rgb(9, 19, 160) 0%,
		rgb(15, 108, 207) 100%
	);
	transform: scale(1.05);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 900px) {
	.formBackground {
		max-width: 90vw;
		margin: 5rem auto;
		padding: 1rem;
	}

	.formContainer {
		padding: 1rem;
	}

	.title {
		font-size: 1.2rem;
	}

	.formLabels {
		font-size: 1rem;
	}

	.formInputs {
		width: 100%;
	}

	.formButton {
		font-size: 0.9rem;
	}
}
